.done-so-far-item {
    display: flex;
    text-align: left;
    padding: $m-size;
    margin: $s-size calc(30vw - 250px);
    flex-direction: column;
    align-items: center;
    margin-bottom: $m-size;
   
    // Here are the styles that will be applied for larger screens
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin: 10;
    }
}

.done-so-far-item__imageblock__wrapper {
    display: block;
    flex-grow: 1;
    margin-bottom: $m-size;

    // Here are the styles that will be applied for larger screens
    @media (min-width: $desktop-breakpoint) {
        min-width: 280px;
        max-width: 280px;
    }
}

.done-so-far-item__imageblock {
    padding: 10px;
    display: block;
    min-width: 300px;
    max-width: 300px;

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
}