.footer {
    background: white;
    flex-shrink: 0;
}
  
.footer__content {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: $m-size;
}

.footer__icons {
    display: flex;
    justify-content: center;
    padding: $s-size;
    margin-bottom: 10px;

    a {
        padding: 3px;
    }
    img {
        height: 25px;
        width: 25px;
    }
}