.fancy {
    line-height: 0.5;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    //border-top: 1px solid black;
    top: 0;
    width: 50%;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }